.signup {
    padding: 0;
    background: #fff;
    overflow: hidden;
    height: 100vh;
    // position: sticky;
    .pics {
        position: relative;
        background: #B9C0FE66 url('./imgs/signin.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom left;
        div{
            height: 100vh;
            padding: 30px 0 0 80px;
            img{width: 12vw;}
            h2 {
                text-transform: capitalize;
                font-size: 2.5rem;
                
            }
        }
        > img {
            width: 100%;
            height: auto;
            bottom: 0%;
            display: none;
        }
    }
    .form {
        background: #fff url('./imgs/dotted.png');
        background-repeat: no-repeat;
        background-position: top right;
        height: 100vh;
        overflow-y: auto;
        img{display: none !important;}
        > div{
            margin: 190px 50px 30px 50px;
            h3{
                font-size: 2rem;
            }
            form {
                > div {
                    label {
                        font-weight: 500;
                        margin-bottom: 0px;
                        margin-left: 10px;
                    }
                    input {
                        padding: 16px 30px;
                        border-radius: 10px;
                        border: 2px solid #B9C0FE;

                        &::placeholder {
                            color: #989898;
                            font-weight: 300;
                        }
                    }
                }

                .btns {
                    text-align: center;
                    button  {
                        padding: 10px;
                        border-radius: 10px;
                        font-weight: 500;
                        &:first-child{
                            background: #5541D7 !important;
                            &:hover {
                                background: #fff !important;
                                color: #0A0D51;
                            }
                        }
                        &:last-child{
                            color: #0A0D51;
                            background: #fff !important;
                            &:hover {
                                background: #5541D7 !important;
                                color: #fff;
                            }
                        }
                    }
                }
                p {
                    text-align: center;
                    a {
                        color: #0A0D51;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .signup {

        overflow-y: auto !important;
        .row {
            flex-direction: column-reverse;
            .pics {
                height: 2px;
                background: none;
                > div {
                    * {display: none;}
                    height: 2px;
                }
                > img {
                    display: block;
                }
            }
            .form {
                position: relative;
                img {
                    position: absolute;
                    padding-left: 50px;
                    display: block !important;
                    top: 100px;
                    width: 50vw;
                }
                
            }
        }
    }
}